adf-smartdata-eastus2-001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-smartdata-eastus2-001"
		},
		"ls_adlssmartdataeastus2001_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlssmartdataeastus2001'"
		},
		"ls_adlssmartdataeastus2002_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlssmartdataeastus2002'"
		},
		"ls_Rest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pokeapi.co/api/v2/pokemon"
		},
		"ls_adlssmartdataeastus2001_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlssmartdataeastus2001.dfs.core.windows.net/"
		},
		"ls_adlssmartdataeastus2002_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlssmartdataeastus2002.dfs.core.windows.net/"
		},
		"ls_smartdata_eastus2_001_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-smartdata-eastus2-001.vault.azure.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0403-005840-zuanm5fl"
		},
		"ls_db_ansh_lamba_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server-anshlamba-adf-course.database.windows.net"
		},
		"ls_db_ansh_lamba_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db-anshlamba-adf-course"
		},
		"ls_db_ansh_lamba_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mikoto"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ansh_lamba"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Rest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_Rest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlssmartdataeastus2001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlssmartdataeastus2001_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlssmartdataeastus2001_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlssmartdataeastus2002')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlssmartdataeastus2002_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlssmartdataeastus2002_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_smartdata_eastus2_001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_smartdata_eastus2_001_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_emptyjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empty.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {
					"type": "object"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_API')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pokemon.json",
						"folderPath": "API",
						"fileSystem": "sink"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_Rest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Rest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "?offset={offset}"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Rest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_cdc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ansh_lamba"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cdc.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cdc_timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_csv_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_meta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "files",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "first_name",
						"type": "String"
					},
					{
						"name": "last_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone_number",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "signup_date",
						"type": "String"
					},
					{
						"name": "last_updated_timestamp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ansh_lamba"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Orders",
						"fileSystem": "sink"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dts_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlssmartdataeastus2002",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlssmartdataeastus2002')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405607937234478.18.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_smartdata_eastus2_001",
							"type": "LinkedServiceReference"
						},
						"secretName": "ws-smartdata"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smartdata_eastus2_001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_db_ansh_lamba')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_db_ansh_lamba_properties_typeProperties_server')]",
					"database": "[parameters('ls_db_ansh_lamba_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_db_ansh_lamba_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_smartdata_eastus2_001",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-anshlamba-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smartdata_eastus2_001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Endpoint",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "https://pokeapi.co/api/v2/pokemon",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopyAllData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Endpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"QueryParameters.offset": {
										"value": "RANGE:0:@{activity('Endpoint').output.count}:20",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dts_Rest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dts_API",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ansh_lamba"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-14T11:17:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dts_Rest')]",
				"[concat(variables('factoryId'), '/datasets/dts_API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schema')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dts_meta",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Data Load",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@if(equals(item().name, 'customers.csv'),pipeline().parameters.customers_schema,if(equals(item().name,'drivers.csv'),pipeline().parameters.drivers_schema,if(equals(item().name,'trips.csv'),pipeline().parameters.trips_schema,'')))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "dts_csv_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "source",
												"p_folder": "files",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dts_csv_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "sink",
												"p_folder": "schema",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"customers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"drivers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"trips_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					}
				},
				"folder": {
					"name": "ansh_lamba"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-16T11:15:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dts_meta')]",
				"[concat(variables('factoryId'), '/datasets/dts_csv_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COPY_ADLS_TO_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dts_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dts_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "smart_data/clase09"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-13T05:17:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dts_source')]",
				"[concat(variables('factoryId'), '/datasets/dts_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adf_to_adb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrepAmb",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/1.- Preparacion_Ambiente",
							"baseParameters": {
								"storageName": "adlssmartdataeastus2001"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ingest_circuits",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "PrepAmb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/2.- Ingest circuits data",
							"baseParameters": {
								"storageName": "adlssmartdataeastus2001"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ingest_constructors",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "PrepAmb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/2.- Ingest Constructors",
							"baseParameters": {
								"storageName": "adlssmartdataeastus2001",
								"container": "raw",
								"catalogo": "catalog_au",
								"esquema": "bronze"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ingest_racing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "PrepAmb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/2.- Ingest racing data",
							"baseParameters": {
								"storageName": "adlssmartdataeastus2001",
								"container": "raw",
								"catalogo": "catalog_au",
								"esquema": "silver"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "transform",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingest_racing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Ingest_constructors",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Ingest_circuits",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/3.- Transform",
							"baseParameters": {
								"catalogo": "catalog_au",
								"esquema_sink": "silver",
								"esquema_source": "bronze"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "load",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/railgun@accelidol2gmail.onmicrosoft.com/smart_data/sesion08/4.- Load",
							"baseParameters": {
								"catalogo": "catalog_au",
								"esquema_sink": "golden",
								"esquema_source": "silver"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "smart_data/clase09"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-13T05:17:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		}
	]
}